.terraform/
app/package*.json
test.sh
infrastructure/Ansible/playbook.yaml.bak
infrastructure/Ansible/*.vscode/
infrastructure/Terraform/*.vscode/
temp_inventory
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars